p, h1 {
    color: #F58800;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: xx-large;
}

.aboutText {
  font-size: x-large;
  text-align: center;
  width: 60vw;
  margin-left: 20vw;
}
