* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #000;
}

.profile-card {
    max-width: 420px;
    margin: 60px auto;
    background-color: #111;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 0 20px #f58800;
    border: 1px solid #f58800;
}

.back {
    color: #f58800;
    font-weight: 700;
    margin-bottom: 22px;
    cursor: pointer;
}

.label {
    color: #ccc;
    font-size: 14px;
    margin: 14px 0 6px;
}

.inputButton {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #f58800;
    background-color: #000;
    color: #f58800;
    text-align: left;
    font-size: 15px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.cancleButton {
    background: none;
    border: none;
    color: #888;
    font-size: 15px;
    cursor: pointer;
}

.saveButton {
    background-color: #f58800;
    color: #000;
    border: none;
    padding: 12px 26px;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.saveButton:hover {
    background-color: #ff9f1a;
}
