{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
</head>

<a href="{{ url_for('home') }}" class="back-link">← Back</a>

<div class="aboutContainer">
    <p class="aboutText">
    We are a young and motivated team creating mini office basketball games that bring fun, movement, and a bit of competition into everyday work life. Our website is all about designing and sharing small basketball games that can be played directly at your desk, perfect for short breaks, stress relief, or just having fun with friends and colleagues.
    The idea behind our project is simple: even a few minutes of play can boost concentration, creativity, and motivation. Our mini basketball games are easy to use, space-saving, and suitable for offices, schools, or home workspaces.
    </p>
    <p class="aboutText">
    The creators of this website are 16 years old and currently completing an apprenticeship as computer scientists at Zürcher Kantonalbank (ZKB). This project was developed as part of Build Your Company, a program that allows young apprentices to gain hands-on experience in entrepreneurship, teamwork, and digital product development.
    With this website, we combine technology, creativity, and fun. Showing how young people can turn an idea into a real product while learning valuable skills for the future.
    </p>
</div>

{% endblock %}