{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
</head>

<a href="{{ url_for('home') }}" class="back-link">← Back</a>

<div class="aboutContainer">
    <p class="aboutText">
    Wir sind ein junges und motiviertes Team, das Mini-Büro-Basketballspiele entwickelt, die Spass, Bewegung und etwas Wettbewerb in den Arbeitsalltag bringen. Auf unserer Website geht es darum, kleine Basketballspiele zu entwerfen und zu teilen, die direkt am Schreibtisch gespielt werden können - perfekt für kurze Pausen, Stressabbau oder einfach zum Spass mit Freunden und Kollegen.
    Die Idee hinter unserem Projekt ist einfach: Schon wenige Minuten Spielen können Konzentration, Kreativität und Motivation steigern. Unsere Mini-Basketballspiele sind einfach zu bedienen, platzsparend und für Büros, Schulen oder Heimarbeitsplätze geeignet.
    </p>
    <p class="aboutText">
    Die Macher dieser Website sind 16 Jahre alt und absolvieren derzeit eine Ausbildung als Informatiker bei der Zürcher Kantonalbank (ZKB). Dieses Projekt wurde im Rahmen von Build Your Company entwickelt, einem Programm, das jungen Lernenden praktische Erfahrungen in Unternehmertum, Teamarbeit und digitaler Produktentwicklung ermöglicht.
    Mit dieser Website verbinden wir Technologie, Kreativität und Spass. Wir zeigen, wie junge Menschen eine Idee in ein echtes Produkt verwandeln können, während sie wertvolle Fähigkeiten für die Zukunft erlernen.
    </p>
</div>

{% endblock %}