<!DOCTYPE html>
<html>
<head><title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css', v=range(999999)|random) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style2.css', v=range(999999)|random) }}">

</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-links">
                <a href="{{ url_for('home') }}" class="nav-link">Home</a>
                <a href="{{ url_for('about') }}" class="nav-link">About</a>
                <a href="{{ url_for('result') }}" class="nav-link">Result</a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>