<!DOCTYPE html>
<html>
<head><title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css', v=range(999999)|random) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style2.css', v=range(999999)|random) }}">

</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">fudwsaoup</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('result') }}">Result</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>