<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="../static/styles/base.js" defer></script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="header-left">
            <img src="../static/styles/logo.png" alt="logo" class="logo">
            <h1 class="logo-text" style="font-family: 'Black Han Sans', sans-serif;">DESKDUNK</h1>
        </div>
        <nav class="header-nav">
            <a href="{{ url_for('home') }}" class="nav-item">Home</a>
            <a href="{{ url_for('about') }}" class="nav-item">About</a>
            <a href="#contact" class="nav-item">Contact</a>
            <div class="nav-buttons">
                <a href="{{ url_for('warenkorb') }}" class="nav-item nav-shop">
                    <img src="../static/styles/shopping-cart-icon.png" alt="Shop" class="nav-icon">
                </a>
                <a href="#profile" class="nav-item nav-profile">
                    <img src="../static/styles/account-icon.png" alt="Profile" class="nav-icon">
                </a>
            </div>
        </nav>
    </div>
    <div class="blockContent">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <p>@DeskDunk 2026</p>
        <a href="{{ url_for('about') }}">
            <p class="aboutLinkText">
                About
            </p>
        </a>
    </div>
</body>
</html>