{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contact.css') }}">
</head>
<div class="profile-card">

    <a href="{{ url_for('home') }}" class="back">← Zurück</a>

    <p class="label">Name</p>
    <input class="inputButton"></input>

    <p class="label">E-Mail</p>
    <input class="inputButton"></input>

    <p class="label">Betreff</p>
    <input class="inputButton"></input>

    <p class="label">Nachricht</p>
    <input class="inputButton"></input>

    <button class="saveButton">Absenden</button>

</div>
{% endblock %}