{% extends 'base.html' %}

{% block title %}Result{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contact.css') }}">
</head>
<div class="profile-card">

    <p class="back">← Back</p>

    <p class="label">Name</p>
    <input class="inputButton"></input>

    <p class="label">Email</p>
    <input class="inputButton"></input>

    <p class="label">Subject</p>
    <input class="inputButton"></input>

    <p class="label">Message</p>
    <input class="inputButton"></input>

    <button class="saveButton">Submit</button>

</div>
{% endblock %}