{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/data.css') }}">
</head>
<div class="profile-card">

    <a href="{{ url_for('home') }}" class="back">← Back</a>

    <p class="label">Name</p>
    <input class="inputButton"></input>

    <p class="label">Surname</p>
    <input class="inputButton"></input>

    <p class="label">Email</p>
    <input class="inputButton"></input>

    <div class="actions">
        <button class="cancleButton">Cancel</button>
        <button class="saveButton">Submit</button>
    </div>

</div>
{% endblock %}