{% extends 'base.html' %}

{% block title %}Profile Data{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/data.css') }}">

<div class="profile-card">
    <a href="{{ url_for('home') }}" class="back">← Back</a>

    <form method="POST" action="{{ url_for('profile') }}">
        <p class="label">Name</p>
        <input class="inputButton" name="name" required>

        <p class="label">Surname</p>
        <input class="inputButton" name="surname" required>

        <p class="label">Email</p>
        <input class="inputButton" name="email" type="email" required>

        <div class="actions">
            <button type="reset" class="cancleButton">Cancel</button>
            <button type="submit" class="saveButton">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
