{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="subtitle">Produktbeschreibung</h1>

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Desk Dunk – Product description</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/description.css') }}">
</head>
<body>
    <div class="description">class 
         <img src="../static/styles/Image DeskDunk.jpg" alt="logo" class="logo">
            <p>DESKDUNK</p>
    </div>
</body>