{% extends 'base.html' %}

{% block title %}Bestellungen{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/order.css') }}">
{% endblock %}

{% block content %}

    <div class="content">
        <div class="order">
            <img class="DeskDunkImg" src="{{ url_for('static', filename='Image (1).jpg') }}">
            <div class="info">
                <p>Bestellung erstellt: 10.2.2026</p>
                <p>Bestellnummer: 91298921</p>
                <p>Bestellstatus: Versendet</p>
                <p>Lieferadresse: VH8W+5G, Hanga Roa, Isla de Pascua, Valparaíso, Chile</p>
                <p>Preis: 30 CHF</p>
            </div>
            <div class="buttons">
                <button>Bestellung stornieren</button>
            </div>
        </div>
        <div class="order">
            <img class="DeskDunkImg" src="{{ url_for('static', filename='Image (1).jpg') }}">
            <div class="info">
                <p>Bestellung erstellt: 12.12.2025</p>
                <p>Bestellnummer: 818237891</p>
                <p>Bestellstatus: Geliefert</p>
                <p>Lieferadresse: Neue Hard 9, 8005 Zürich</p>
                <p>Preis: 80 CHF</p>
            </div>
        </div>
    </div>

    <script>
        
    </script>

{% endblock %}