{% extends 'base.html' %}

{% block title %}Ergebnis{% endblock %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Gespeichert</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/popUpSaved.css') }}">
</head>

<body>

<div class="page">
    <div class="saved-card">
        <button class="info-btn">ⓘ</button>

        <h2>Gespeichert!</h2>

        <p>
            Ihr Passwort wurde erfolgreich gespeichert!
        </p>

        <button class="rateButton">Zurück zur Startseite</button>
    </div>
</div>

</body>
{% endblock %}