{% extends 'base.html' %}

{% block title %}Result{% endblock %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Payment Done</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/popUpPayment.css') }}">
</head>

<body>

<div class="page">
    <div class="payment-card">
        <button class="close-btn">✖</button>

        <h2>Payment done!</h2>

        <p>
            Thank you for buying at DeskDunk. If you wanna leave a rating,
            klick the button below. If you wanna continue shopping,
            click the cross in the top left corner.
        </p>

        <button class="rateButton">Rate!</button>
    </div>
</div>

</body>
{% endblock %}