{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signin.css') }}">
</head>
<div class="profile-card">

    <a href="{{ url_for('home') }}" class="back">← Back</a>

    {% if error %}
    <p style="color: #f58800; text-align: center; margin-bottom: 10px;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('signin') }}" style="all: unset;">
        <p class="label">Email</p>
        <input type="email" name="email" class="inputButton" required></input>

        <p class="label">Password</p>
        <div class="password-wrapper">
            <input type="password" name="password" class="inputButton" required></input>
            <button type="button" class="toggle-password" data-target="password" aria-label="Passwort anzeigen">👁</button>
        </div>

        <button type="submit" class="saveButton">Sign In</button>
    </form>

    <a href="{{ url_for('register') }}">Noch kein Konto? Registrieren</a>

    <a href="/forgot-password" style="text-decoration: underline;">Forgot password?</a>

</div>
{% endblock %}